html {
    background: white;
}

body {
    padding-bottom: 100px;
}

body h1 {
    color: white;
    padding-bottom: 5px;
}


#main {
    text-align: center;
    color: white;

    
}

#head {
    background-color: black;
    text-align: center;
}

#employeeLogin {
    background: black;
    text-align: center;
    height: 200px;
    margin-left: 30%;
    margin-right: 30%;
}

#managerLogin {
    background: black;
    text-align: center;
    height: 200px;
    margin-left: 30%;
    margin-right: 30%;
}

#employeeLoginButton {
    width: 50%;
    height: 30px;
    background: white;
    color: black;
    font-weight: bold;
}

#managerLoginButton {
    width: 50%;
    height: 30px;
    background: white;
    color: black;
    font-weight: bold;
}

#usernameBox {
    width: 50%;
    height: 30px;
}

#passwordBox {
    width: 50%;
    height: 30px;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background: black;
    color: white;
}

#employeeNav {
    font-weight: bold;
    background: black;
    padding-top: 10px;
}

#employeeHome {
    cursor: pointer;
}

#employeeInformation {
    cursor: pointer;
}

#employeeReimbursements {
    cursor: pointer;
}

#employeeResolvedReimbursementsId {
    cursor: pointer;
}

#logout {
    cursor: pointer;
}

#managerHome {
    cursor: pointer;
}

#managerInformation {
    cursor: pointer;
}

#managerReimbursements {
    cursor: pointer;
}

#managerNav {
    font-weight: bold;
    background: black;
    padding-top: 10px;
}

#loginOptions {
    background-color: black;
    padding-bottom: 10px;
}

#employeeChoice {
    margin-right: 5px;
    width: 300px;
    background-color: white;
    font-weight: bold;
}

#managerChoice {
    margin-left: 5px;
    width: 300px;
    background-color: white;
    font-weight: bold;
}

#submitReimbursement {
    margin-top: 5px;
    background-color: black;
}

#viewReimbursementById {
    margin-top: 5px;
    background-color: black;
}

#titleBox {
    width: 50%;
    height: 30px;
}

#descriptionBox {
    width: 50%;
    height: 100px;
}

#amountBox {
    width: 50%;
    height: 30px;
}

#reimbursementImage {
    width: 50%;
    height: 30px;
}

#submitRequest {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    font-weight: bold;
}

#welcomeEmployee {
    color:  black;
}

#welcomeManager {
    color:  black;
}

#pendingRequests {
    border: black 5px solid;
    color: black;
}

#pendingRRequests {
    color: black;
}

#resolvedRRequests {
    color: black;
}

#resolvedRequests {
    border: black 5px solid;
}
#allEmployees {
    border: black 5px solid;
}

#reimbursementListById {
    margin-top: 5px;
    color: black;
    border: black 5px solid;
}

#employeeInformationForm {
    padding-top: 10px;
    background: black;
    height: 10%;
    padding-bottom: 10px;
}

#personalInformation {
    font-weight: bold;
    color:black;
}

#resolvedReimbursementRequests {
    font-weight: bold;
}

#welcomeFirstLast {
    font-weight: bold;
}

#pendingReimbursementRequests {
    font-weight: bold;
}

#employeeList {
    font-weight: bold;
}

.employeeInfo {
    font-weight: bold;
}

#employeeId {
    width: 75%;
}

#employeeFirstName {
    width: 75%;
}

#employeeLastName {
    width: 75%;
}

#employeeEmailAddress {
    width: 75%;
}

#employeeAddress {
    width: 75%;
}

#saveEmployeeInfoChangesButton {
    width: 75%;
    background-color: white;
    font-weight: bold;
}

.reimbursementButton {
    background-color: black;
    color: white;
    font-weight: bold;
}


#viewReimbursementById {
    padding-bottom: 2px;
    padding-top: 5px;
}

#employeeIdReimbursementForm {
    margin-top: 15px;
    font-weight: bold;
    width: 75%;
}

#employeeIdBox {
    margin-top: 15px;
    width: 75%;
}

#submitRequest2 {
    margin-top: 15px;
    background-color: white;
    color: black;
    font-weight: bold;
    width: 75%;
}

#managerPendingReimbursementsId {
    cursor: pointer;
}

#managerResolvedReimbursementsId {
    cursor: pointer;
}